@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@400;700 & display=swap');

* {
    padding: 0;
    margin: 0;
}

.header__container {
    max-width: 1280px;
    margin: 0 auto;
}

.body {
    font-family: Montserrat;
}

.header__item {
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
    padding: 36px 25px;
}

.header__nav {
    text-align: center;
    background: rgba(0, 0, 0, 0.0001)
}

.header__link {
    text-decoration: none;
    color: #FF0000
}

.main__img {
    background: url(..//img/image\ 1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 789px;
    max-width: 1280px;
    margin: 0 auto;
}

.main__title {
    margin-top: 48px;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    text-align: center;
}

.main__text__first {
    margin-top: 38px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}

.main__text__second {
    margin-top: 28px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}

.main__link {
    margin-top: 66px;
    display: inline-block;
    background: #FF0000;
    padding: 18px 42px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main__buttom {
    text-align: center;
}

.footer__text {
    display: inline-block;
    margin-top: 82px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 2.4px;
    color: #373737;
}
.footer{
    max-width: 1145px;
    text-align: right;
    margin: 0 auto;
}
.main__container{
max-width: 1145px;
margin: 0 auto;
}